In [3]:
import pandas as pd
import numpy as np

price_data = pd.read_csv(
    "data/crypto_prices_top50_1y_daily.csv",
    index_col=0,
    parse_dates=True
)

price_data = price_data.dropna(axis=1)
price_data.head()

,BITCOIN,ETHEREUM,BINANCECOIN,RIPPLE,SOLANA,TRON,DOGECOIN,CARDANO,BITCOIN-CASH,WHITEBIT,...,LITECOIN,SUI,AVALANCHE-2,HEDERA-HASHGRAPH,SHIBA-INU,THE-OPEN-NETWORK,CRYPTO-COM-CHAIN,POLKADOT,UNISWAP,MANTLE
2025-01-30,103718.979398,3114.435885,667.745953,3.069176,228.614543,0.240092,0.324444,0.941633,415.343461,28.390900,...,115.842928,3.702996,32.854028,0.309129,0.000018,4.830031,0.128566,5.770415,11.727649,1.077703
2025-01-31,104781.513510,3248.249484,676.945296,3.131937,239.047197,0.252109,0.331229,0.960968,434.736724,28.499677,...,129.843668,4.120793,34.306853,0.316473,0.000019,4.818373,0.130979,6.127695,11.971730,1.163298
2025-02-01,102382.394097,3296.390635,677.112421,3.037809,231.507823,0.253773,0.328601,0.942531,424.119234,28.203256,...,128.211836,4.085233,34.403275,0.306292,0.000019,4.825859,0.129687,6.314931,11.755691,1.233116
2025-02-02,100674.787625,3125.038680,654.217143,2.880865,214.463664,0.244695,0.308277,0.898263,404.146380,28.129003,...,119.296907,3.757897,32.224672,0.286581,0.000018,4.597080,0.123918,5.925743,10.897844,1.156094
2025-02-03,97568.316530,2862.697619,616.642829,2.570134,202.324929,0.224998,0.264955,0.798106,358.342521,27.871599,...,109.310310,3.288854,27.440535,0.251786,0.000015,4.036465,0.107842,5.122350,9.141562,1.051774

In [ ]:
price_data.shape

(365, 27)

In [5]:
price_data.index.is_monotonic_increasing

True

In [6]:
price_data.index.to_series().diff().value_counts().head()

1 days    364
Name: count, dtype: int64

# Train / Validation / Test Split (56.25 / 18.75 / 25)

In [9]:
def split_data(data, train_ratio=0.5625, val_ratio=0.1875):
    n = len(data)

    train_end = int(n * train_ratio)
    val_end = int(n * (train_ratio + val_ratio))

    train = data.iloc[:train_end]
    valid = data.iloc[train_end:val_end]
    test = data.iloc[val_end:]

    return train, valid, test

In [10]:
train, valid, test = split_data(price_data)

print("Train:", train.shape)
print("Valid:", valid.shape)
print("Test:", test.shape)

Train: (205, 27)
Valid: (68, 27)
Test: (92, 27)

In [11]:
train.to_csv("data/train.csv")
valid.to_csv("data/valid.csv")
test.to_csv("data/test.csv")